.foter{
    background: #FAFAFA;
    box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.0973558);
    border-radius: 8px 8px 0px 0px;
    
}

.staf_text{
    color:#003360;
    font-family: SFUIDisplay;
    font-size: 14px;
    line-height: 16,41px;
    width: 241px;
    height: 17px;
}

.top-foter{
    border: 1px solid #D7E2F1;
}
.app-toggle-close {
    border: 1px solid black;
    
}
.app-toggle-error {
    color: red;
    margin-left: 2%;
    vertical-align: middle;
}

.app-toogle-div-error {
    width: 40%;
    border: 1px solid red;
    border-radius: 10%;
    
}
.fa-ban {
    color: red !important;
}
